<!-- templates/registration/password_reset_form.html -->
{% extends 'template-login.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Esqueci minha senha{% endblock %}
{% block card-title %}Esqueceu sua senha?{% endblock %}

{% block body %}
    <p>Insira seu e-mail abaixo, que nos iremos enviar as instruções para resetar a sua senha.</p>

    <form method="POST">{% csrf_token %}
        {% bootstrap_form form %}
        
        <!-- BOTAO -->
        <div class="row justify-content-center">
            <div class="col-5">
                {% buttons %}
                    <button class="btn btn-outline-secondary btn-block" type="submit">Enviar</button>
                {% endbuttons %}
            </div>
        </div>

    </form>
{% endblock %}