{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Início{% endblock %}
{% block name_page %}Início{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
    Início
    <a class="" title="Sair" href="{% url 'logout' %}">Sair</a>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
    <!-- Keep alive -->
    <script type="text/javascript">

        var keepAliveTimeout = 5*60*1000;

        window.addEventListener("load", function () {
            setTimeout(keepAliveWorker, keepAliveTimeout);
        }, false);

        function keepAliveWorker() {
            $.ajax({
                type: "GET",
                url: "{% url 'keepalive' %}",
                dataType: "html",
                success: function(resp) {
                    console.log('Keep alive.');
                },
                error: function(rs, e) {
                    console.log('ERROR')
                    console.log(rs);
                    console.log(e);
                    console.log(e.message);
                },
                complete: function() {
                    setTimeout(keepAliveWorker, keepAliveTimeout); // Schedule the next request when the current one's complete
                }
            });
        }
    </script>
{% endblock %}