{% extends 'template-login.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Nova conta{% endblock %}
{% block card-title %}Nova conta{% endblock %}

{% block body %}
    <form method="post">{% csrf_token %}
        {% bootstrap_form form %}
        
        <!-- BOTAO -->
        <div class="row justify-content-center">
            <div class="col-5">
                {% buttons %}
                    <button class="btn btn-outline-secondary btn-block" type="submit">Cadastrar</button>
                {% endbuttons %}
            </div>
        </div>
    </form>
{% endblock %}