{% extends "template-login.html" %}
{% load static %}
{% load bootstrap4 %}


{% block card-title %}
    Digite o e-mail cadastrado
{% endblock %}

{% block body %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form form %}
{% endblock %}

{% block body_footer %}
    <a class="btn btn-secondary" href="{% url 'index' %}">
        <em class="fas fa-arrow-left mx-1"></em>
        <span class="hide-on-mobile">Voltar</span>
    </a>
    <button class="btn btn-primary ml-2" type="submit">
        <em class="fas fa-envelope mx-1"></em>
        <span class="hide-on-mobile">Enviar</span>
    </button>
{% endblock %}
