{% extends "template-login.html" %}
{% load static %}
{% load bootstrap4 %}

{% block card-title %}E-mail enviado{% endblock %}

{% block body %}
    <p>Foi enviado um e-mail com as instruções para alteração de senha. Se você não receber o e-mail em alguns minutos, por gentileza verifique na pasta de Spam.</p>
{% endblock %}

{% block body_footer %}
    <a class="btn btn-secondary" href="{% url 'index' %}">
        <em class="fas fa-arrow-left mx-1"></em>
        <span class="hide-on-mobile">Voltar</span>
    </a>
{% endblock %}
