{% extends "template-login.html" %}
{% load static %}
{% load bootstrap4 %}

{% block card-title %}
    {% if validlink %}
        Alteração de senha
    {% else %}
        Link inválido
    {% endif %}
{% endblock %}


{% block body %}
    {% if validlink %}

        <p>Insira a nova senha.</p>
        {% bootstrap_form_errors form %}
        {% bootstrap_form form %}

    {% else %}
        <p>Link inválido, este link já pode ter sido usado. Por gentileza tente novamente.</p>
    {% endif %}
{% endblock %}


{% block body_footer %}
    {% if validlink %}
        <button class="btn btn-primary" type="submit">
            <em class="fas fa-key mx-1"></em>
            <span class="hide-on-mobile">Alterar</span>
        </button>
    {% else %}
        <a href="{% url 'index' %}" class="btn btn-secondary mt-4">Voltar</a>
    {% endif %}
{% endblock %}
